body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.centrado-texto {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.division-estilo {
    background-color: #f0f8ff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}

header {
    background-color: #69bd45;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

header h2 {
    margin: 0;
    font-size: 1.2em;
    color: #666;
}


/* Estilos para el nav y enlaces de ul y li */

nav {
    background-color: #d7ddd7;
    padding: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #ad1818;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #0d0e0d;
}

img {
    display: block;
    /* Para eliminar el espacio adicional que algunos navegadores agregan a las img. */
    margin: 0 auto;
    /* Centrar las imágenes horizontalmente */
    max-width: 100%;
    /* Asegurar que las imágenes no excedan el ancho del contenedor */
    border: 3px solid #080808;
    /* Contorno de 3px con un color verde (#69bd45) alrededor de la img.*/
    border-radius: 10px;
    /* Borde redondeado de 10px para suavizar el contorno */
}

section {
    padding: 20px;
    /* espaciado para la sección de 20 pixeles */
}

footer {
    background-color: #4caf50;
    /* Color de fondo del footer */
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    max-width: 800px;
    /* Ancho máximo del contenido del footer */
    margin: 0 auto;
    /* Centrar el contenido del footer horizontalmente */
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-icon {
    width: 24px;
    /* Ajusta el tamaño de las imágenes */
    height: 24px;
    /* Ajusta el tamaño de las imágenes */
    transition: transform 0.3s;
}

.footer-icon:hover {
    transform: scale(1.2);
    /* Aumenta el tamaño de la imagen al pasar el ratón */
}

.footer2 {
    margin: 0;
    text-align: center;
}